@import url('https://fonts.googleapis.com/css?family=Open+Sans');

canvas {
  position:absolute;
}

body {
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: 2;
}

.menu__element-container {
  width: 10%;
  min-width: 100px;
}

.menu__element-container:hover .menu__element {
  transform: translate(0, 0);
}

.menu__element {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em .6em 40px .6em;
  transform: translate(0, -60%);
  -webkit-transition: -webkit-transform cubic-bezier(.5,0,.3,1) .4s;
  transition: transform cubic-bezier(.5,0,.3,1) .4s;
  background: #999;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}

.menu__element img {
  object-fit: contain;
  width: 80%;
  position: relative;
  bottom: 0;
  margin: 0 0 1em 0;
  align-self: center;
}

.menu__element a {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  align-self: center;
}

.content {
  position: relative;
  top: 100px;
  height: 100%;
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__element {
  position: relative;
  width: 70%;
  min-width: 400px;
  min-height: 100px;
  margin: 25px 0 25px 0;
  background: #999;
  max-height: 100px;
  -webkit-transition: max-height cubic-bezier(.5,0,.3,1) .4s;
  transition: max-height cubic-bezier(.5,0,.3,1) .4s;
  overflow: hidden;
}

.content__element:hover {
  max-height: 1000px;
}

.content__element-title {
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin: 1em 1em .5em 1.5em;
  font-family: "Open Sans";
}

.content__element-text {
  font-size: 12px;
  text-align: left;
  color: #fff;
  margin: 1em 2em 3em 3.5em;
  font-family: "Open Sans";
}

.content__element-fade {
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 100%;
  background: linear-gradient(rgba(153,153,153,0), rgba(153,153,153,1) 80%);
}
