@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
canvas {
  position: absolute; }

body {
  height: 100%; }

a {
  text-decoration: none; }

h2 {
  font-size: calc(18px + .5vw);
  color: #ffffff;
  font-family: "Berkshire Swash", cursive;
  align-self: center;
  text-decoration: none;
  font-weight: 400;
  margin: 0; }

h4 {
  font-size: 12px;
  color: #ffffff;
  font-family: "Open Sans";
  margin: 0; }

#main-wrapper {
  background-color: rgba(30, 30, 40, 0.8) !important;
  width: 75vw !important;
  border: 1px solid rgba(24, 24, 32, 0.8) !important; }
  #main-wrapper h1 {
    font-size: calc(24px + .5vw) !important;
    line-height: 1.1em !important;
    color: #ffffff !important;
    font-family: "Berkshire Swash", cursive !important;
    font-weight: 400 !important; }
  #main-wrapper button,
  #main-wrapper input {
    box-shadow: #181820 0px 0px 10px 0px inset;
    background: rgba(30, 30, 40, 0.8);
    border: 1px solid #181820;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: #263666 0px 1px 0px; }

.background-img {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }
  .background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: 3;
  max-height: 160px;
  text-decoration: none; }
  .menu__element-container {
    flex-grow: 1;
    max-width: 12vw;
    min-width: 120px; }
    .menu__element-container:hover .menu__element {
      transform: translate(0, 0); }
  .menu__element {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em .6em 5vw .6em;
    transform: translate(0, -55%);
    -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.3, 1) 0.4s;
    transition: transform cubic-bezier(0.5, 0, 0.3, 1) 0.4s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box;
    background-image: url("./img/flag_simple_blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1000px) {
      .menu__element {
        font-size: 18px; } }
    .menu__element img {
      object-fit: contain;
      width: 70%;
      position: relative;
      bottom: 0;
      margin: 0 0 1vw 0;
      align-self: center; }
  .menu__opener {
    display: none;
    z-index: 2; }

.content {
  position: relative;
  top: 100px;
  height: 100%;
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content__post {
    position: relative;
    width: 80%;
    min-width: 400px;
    min-height: 100px;
    margin: 25px 0 25px 0;
    background: rgba(30, 30, 40, 0.8);
    max-height: 100px;
    -webkit-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; }
    .content__post-title {
      margin: 1em 1em .5em 1.5em; }
      .content__post-title h2 {
        font-size: calc(18px + .5vw); }
    .content__post-text {
      margin: 1em 2em 3em 3.5em; }
    .content__post-fade {
      position: absolute;
      bottom: 0;
      height: 1.8em;
      width: 100%;
      background: linear-gradient(rgba(30, 30, 40, 0), #1e1e28 80%); }
  .content__sponsors {
    padding: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(30, 30, 40, 0.7); }
    .content__sponsors-item {
      filter: brightness(0) invert(1); }
      .content__sponsors-item.big {
        height: 300px;
        width: 90vw;
        max-width: 500px;
        min-width: 300px; }
      .content__sponsors-item.medium {
        height: 150px;
        width: 30vw;
        min-width: 300px; }
      .content__sponsors-item.small {
        height: 100px;
        width: 15vw;
        min-width: 200px; }
      .content__sponsors-item img {
        height: 100%;
        width: 100%;
        object-fit: contain; }
    .content__sponsors-tier {
      margin: 20px 0;
      flex: 0 0 100%;
      color: #ffffff;
      font-family: "Berkshire Swash", cursive;
      text-align: center; }
      .content__sponsors-tier.big {
        height: 1.5em;
        font-size: calc(20px + 6vw); }
      .content__sponsors-tier.medium {
        height: 1.5em;
        font-size: calc(20px + 4vw); }
      .content__sponsors-tier.small {
        height: 1.5em;
        font-size: calc(16px + 3.5vw); }
  .content__news {
    display: flex;
    flex-direction: column; }
    .content__news-title {
      margin: 1em 1em .5em 1.5em; }
    .content__news-text {
      margin: 1em 2em 3em 3.5em; }
    .content__news-comment {
      margin: .5em .5em 0 3vw; }

@media screen and (max-width: 1000px) {
  .menu {
    background: rgba(30, 30, 40, 0.8);
    height: 100%;
    top: -100%;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.3, 1) 0.4s;
    transition: transform cubic-bezier(0.5, 0, 0.3, 1) 0.4s;
    max-height: none; }
    .menu.opened {
      transform: translate(0, 100%); }
    .menu__opener {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 80px;
      font-size: 18px;
      text-align: center;
      padding: calc((80px + -1em) / 2);
      box-sizing: border-box;
      color: #ffffff;
      background: rgba(30, 30, 40, 0.8);
      font-family: "Berkshire Swash", cursive;
      cursor: pointer; }
    .menu a {
      position: relative;
      flex-grow: 1; }
    .menu__element-container {
      flex-grow: 0;
      max-width: none;
      width: 100%;
      height: 100%; }
    .menu__element {
      height: 100%;
      width: 100%;
      background: none;
      position: absolute;
      padding: 1vh 0;
      transform: translate(0, 0);
      flex-direction: row;
      justify-content: start; }
      .menu__element img {
        object-fit: contain;
        max-height: 100%;
        width: auto;
        margin: 0 1em 0 10%; }
      .menu__element h2 {
        position: relative;
        font-size: 3vh;
        flex-grow: 0; } }
